<!-- detail.html -->

{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/detail.css' %}">
{% endblock %}

{% block content %}
    <div class="card-detail">
        <div class="card-image">
            <img src="{{book.image.url}}" alt="">
            <a href=""><div class="read">Want to read</div></a>
            <a href=""><div class="price">Kindle ${{book.price}}</div></a>
        </div>
        <div class="card-right">
           <div class="card-header">
                <div class="title">{{book.title}}</div>
                <div class="author">{{book.author}}</div>
                
                <div class="reting">
                 {% for x in book.range %}
                <span style="color: yellow;"><i class="fa-solid fa-star"></i></span>
                {% endfor %}
                {% for x in book.xrange %}
                <i class="fa-regular fa-star"></i>
                {% endfor %}

                {{book.rating}}
                </div>
                <div class="author-bio">{{book.author.bio}}</div>
                <div class="d-flex">
                    <p style="font-weight: bold;">Genre</p>
                    {% for genre in genre %}
                    <div class="genre">{{genre.name}}</div>
                    {% endfor %}
                </div>

                <div class="d-column">
                    <div class="line-track">
                        
                        <div class="line" style="width: {{book.ratings.5.percent}}%;"></div>
                        <div class="percent">{{book.ratings.5.percent}} * {{book.ratings.5.count}}</div>

                    </div>
                    <div class="line-track">
                        <div class="line" style="width: {{book.ratings.4.percent}}%;"></div>
                        <div class="percent">{{book.ratings.4.percent}} * {{book.ratings.4.count}}</div>

                    </div>
                    <div class="line-track">
                        <div class="line" style="width: {{book.ratings.3.percent}}%;"></div>
                        <div class="percent">{{book.ratings.3.percent}} * {{book.ratings.3.count}}</div>

                    </div>
                    <div class="line-track">
                        <div class="line" style="width: {{book.ratings.2.percent}}%;"></div>
                        <div class="percent">{{book.ratings.2.percent}} * {{book.ratings.2.count}}</div>

                    </div>
                    <div class="line-track">
                        <div class="line" style="width: {{book.ratings.1.percent}}%;"></div>
                        <div class="percent">{{book.ratings.1.percent}} * {{book.ratings.1.count}}</div>

                    </div>
                </div>
        </div>


        <div class="card-container">
            <div class="card">
                <a href="{% url 'book_detail' book_id=book.pk %}">
                    <img src="{{book.image.url}}" alt="Card Image">
                </a>

                <div class="card-content">
                    <h2>{{book.title}}</h2>
                    <p>
                        {% for x in book.range %}
                        <span style="color: yellow;">&#9733;</span>
                        {% endfor %}
                        {% for x in book.xrange %}
                        &#9734;
                        {% endfor %}
                        {{book.rating}}
                    </p>
                </div>
            </div>
        </div>
       
    </div>
</div>
{% endblock %}
